/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #260C13;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
img {
  max-width: 100%;
}
/* **********************************************
Structure the page
********************************************** */
.inner-wrap-main .row {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}
.wrap-sidebar {
  padding: 30px;
  max-width: 460px;
}
.region-main {
  max-width: 768px;
  margin: 0 auto;
  overflow: auto;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
* kmom02 - 2018-11-20
* Layout style for general structure of header, navbar, main, footer
* and other regions of the page including route specific styles.
*/
/**
* Variables
*/
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(https://fonts.gstatic.com/s/exo/v7/4UaOrEtFpBISc36m.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  src: local('Exo SemiBold'), local('Exo-SemiBold'), url(https://fonts.gstatic.com/s/exo/v7/4UaDrEtFpBIarFq29xLm.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/**
 * General layout
 */
.inner-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
h1 {
  font-size: 2em;
  font-family: 'Exo', sans-serif;
  color: #4C1927;
}
h2 {
  font-size: 1.6em;
  font-family: 'Exo', sans-serif;
}
h3 {
  font-size: 1.4em;
  font-family: 'Exo', sans-serif;
}
h4 {
  font-size: 1.1em;
  font-family: 'Exo', sans-serif;
}
p {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #BF3F61;
}
/* **********************************************
Region header
********************************************** */
.outer-wrap-header {
  background-color: #4C1927;
  overflow: auto;
  height: 150px;
  color: #BF3F61;
}
.inner-wrap-header {
  max-width: 100%;
}
.region-header-col-1,
.region-header-col-3 {
  width: 20%;
  float: left;
}
.region-header-col-2 {
  width: 60%;
  float: left;
  text-align: center;
}
.site-logo-text {
  font-size: 2em;
}
.site-logo-text a {
  text-decoration: none;
  color: #BF3F61;
}
.site-logo-text a:hover {
  text-decoration: underline;
}
.site-logo-text-icon {
  text-decoration: none;
  font-size: 2rem;
}
/* Tar bort stora löv-loggan */
.site-logo {
  display: none;
}
.region-flash img {
  width: 100%;
}
.inner-wrap-flash img {
  max-width: 100%;
}
/* **********************************************
NAVBAR
********************************************** */
.my-navbar {
  margin-top: 12px;
  list-style-type: none;
}
/* **********************************************
Innehållet för text och content
********************************************** */
.region-main.has-sidebar {
  display: inline;
  float: left;
  width: 65%;
  overflow: auto;
}
.wrap-sidebar {
  box-sizing: border-box;
  padding-top: 3em;
  width: 35%;
  float: left;
  display: inline;
}
.block {
  margin-bottom: 3em;
}
/* **********************************************
Flash message
********************************************** */
.flashmessage {
  max-width: 600px;
  margin: 15px auto;
  padding: 10px;
  background-color: #999;
}
.flashmessage .flashmessage-icon {
  float: right;
  font-size: 3em;
  padding-right: 0.5em;
}
/* **********************************************
Byline
********************************************** */
.author-byline {
  overflow: auto;
  box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-top: 50px;
}
.author-byline figure {
  margin: 0 20px 0 0;
}
.author-byline h4 {
  margin: 0;
}
/* **********************************************
Innehåll-text
********************************************** */
ul.toc {
  list-style-type: none;
  padding-left: 0;
  font-family: "Exo", sans-serif;
  font-size: 1.1em;
}
ul.toc li a {
  color: #333;
  text-decoration: none;
}
ul.toc li.section-header {
  margin-top: 1.4em;
  border-bottom: 1px solid #ccc;
}
ul.toc li a:hover {
  text-decoration: underline;
}
/* **********************************************
Previous Next
********************************************** */
.next-previous {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
/* **********************************************
Breadcrumb
********************************************** */
.region-breadcrumb {
  max-width: 100%;
  padding: 15px 30px;
}
.breadcrumb-list ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadcrumb-list ul li {
  margin-right: 10px;
}
/* **********************************************
Footer
********************************************** */
.outer-wrap-footer {
  background-color: #260C13;
}
.region-footer {
  margin-top: 50px;
  padding: 20px 10px;
  background-color: #4C1927;
  color: #fff;
}
.footer-column-wrapper {
  display: flex;
  max-width: 960px;
  padding-bottom: 20px;
  margin: 0 auto 30px;
  border-bottom: solid #fff;
}
.footer-column-wrapper .footer-column {
  margin: 0 20px;
}
.site-footer {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Navbar
 */
@media screen and (max-width: 1120px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .region-header-col-1,
  .region-header-col-3 {
    width: 15%;
  }
  .region-header-col-2 {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .rm-desktop {
    font-size: 0.8em;
  }
  .region-header-col-1,
  .region-header-col-3 {
    width: 10%;
  }
  .region-header-col-2 {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .rm-desktop {
    display: none;
  }
  .rm-small {
    display: block;
  }
  .footer-column {
    float: none;
    width: 100%;
  }
  .site-logo-text {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
